/* ширифты */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* /ширифты */
/* общие настройки */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow-x: hidden;
  line-height: 130%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #133261;

}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

img {
  max-width: 100%;
  border: none;
}

input,
textarea,
button,
select {
  outline: none;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.page__header {
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}

.page__header--main {
  position: absolute;
}

.page__body {
  flex-grow: 1;
  overflow-x: hidden;
  z-index: 2;
}

.page__footer {
  z-index: 1;
}

h1,
.b-h1,
.p-main h2 {
  margin: 0 0 0.45em;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #133261;
}

@media screen and (max-width: 1200px) {

  h1,
  .b-h1,
  .p-main h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 1200px) {

  h1,
  .b-h1,
  .p-main h2 {
    font-size: 28px;
  }
}

p {
  margin-block-start: 1em;
  margin-block-end: 1.5em;
}

.container {
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1390px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-big {
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .container-big {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .container-big {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.b-text {
  font-size: 16px;
}

.b-subtitle {
  margin-bottom: 87px;
  font-size: 16px;
}

.b-subtitle-small {
  margin-bottom: 45px;
  font-size: 16px;
}

.b-subtitle-middle {
  margin-bottom: 65px;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .b-subtitle {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .b-subtitle-small {
    margin-bottom: 45px;
    font-size: 14px;
  }

  .b-subtitle-middle {
    margin-bottom: 45px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .b-subtitle {
    margin-bottom: 30px;
  }

  .b-subtitle-small {
    margin-bottom: 35px;
    font-size: 14px;
  }

  .b-subtitle-middle {
    margin-bottom: 35px;
    font-size: 14px;
  }
}

.hide {
  display: none !important;
}

.show-inline-block {
  display: inline-block !important;
}

.hide-on-desktop {
  display: none !important;
}

@media (max-width: 1200px) {
  .show-on-tablet {
    display: block !important;
  }

  .hide-on-tablet {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .show-on-mobile {
    display: block !important;
  }

  .hide-on-mobile {
    display: none !important;
  }
}

.swiper-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  position: static;
}

.swiper-controls .swiper-pagination-bullet {
  margin: 0 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #B0C4D8;
  opacity: 0.5;
}

.swiper-control {
  margin-top: 0;
  width: auto;
  height: auto;
  cursor: pointer;
  position: static;
  background: none;
}

.swiper-control:hover svg path,
.swiper-control:hover svg rect {
  stroke: #0077FF;
  transition: all 0.3s;
}

.swiper-controls .swiper-pagination-bullet-active {
  background: #0077FF;
  opacity: 1;
}

.swiper-button-prev {
  margin-right: 38px;
}

.swiper-button-next {
  margin-left: 38px;
}

/* /общие настройки */
/* шапка */
.b-header .header__line {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  font-weight: 500;
  font-size: 14px;
  color: #133261;
}

.b-header a {
  text-decoration: none;
  color: #133261;
}

.b-header .header__info {
  display: flex;
}

.b-header .header__icon {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.b-header .header__phone {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .b-header .header__line {
    display: none;
  }
}

/* /шапка */
/* меню */
.b-menu {
  margin: 0 -20px 5px;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.b-menu .menu__li a {
  padding: 20px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #133261;
}

.b-menu .menu__li a:hover {
  color: #0077FF;
}

@media screen and (max-width: 1200px) {
  .b-menu {
    margin: 0 -10px 5px;
  }

  .b-menu .menu__li a {
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 800px) {
  .b-menu {
    margin: 0 -8px 5px;
  }

  .b-menu .menu__li a {
    padding: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .b-menu {
    display: none;
  }
}

/* /меню */
/* адаптивное меню */
.b-adaptive-menu {
  display: none;
}

.b-adaptive-menu .adaptive-menu__burger {
  position: absolute;
  padding: 35px 24px 15px 15px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.b-adaptive-menu .adaptive-menu__inside {
  display: none;
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #EBF7FF;
  overflow: auto;
  z-index: 1000;
}

.b-adaptive-menu .adaptive-menu__logo {
  margin-bottom: 30px;
  width: 176px;
}

.b-adaptive-menu .adaptive-menu__cross {
  position: absolute;
  padding: 35px 24px 15px 15px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.b-adaptive-menu .adaptive-menu__ul {
  margin: 0 0 80px;
  padding: 0;
  list-style: none;
}

.b-adaptive-menu .adaptive-menu__li {
  margin-bottom: 24px;
}

.b-adaptive-menu .adaptive-menu__li a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #133261;
}

.b-adaptive-menu .adaptive-menu__item {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  color: #133261;
}

.b-adaptive-menu .adaptive-menu__icon {
  margin-right: 12px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .b-adaptive-menu {
    display: block;
  }
}

/*  /адаптивное меню */
/* логотип */
.b-logo {
  margin: 0 auto 40px;
}

.p-main .b-logo {
  display: none;
}

@media screen and (max-width: 1200px) {
  .b-logo {
    display: block;
    margin: 28px auto 43px;
    width: 355px;
  }

  .p-main .b-logo {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .b-logo {
    margin: 24px 0 24px;
    width: 176px;
  }
}

/* /логотип */
/* video */
.b-main-video {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  /* height: 753px; */
  height: 0;
  padding-top: 56%;
  cursor: pointer;
  z-index: 0;
}

.b-main-video::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.64;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 1;
}

.b-main-video.play::before {
  opacity: 0;
}

.b-main-video .main-video__btn {
  display: block;
  position: absolute;
  top: calc(50% - 55px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/icons/play.svg) 50% 50% no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s;
}

.b-main-video .main-video__btn:hover {
  background: rgba(255, 255, 255, 0.5) url(../img/icons/play.svg) 50% 50% no-repeat;
  transition: all 0.3s;
}

.b-main-video .main-video__video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* width: auto;*/
  /* height: 753px; */
  object-fit: cover;
}

.b-main-video .main-video__video::-webkit-media-controls {
  display: none;
}

@media screen and (max-width: 1200px) {
  .b-main-video {
    margin-bottom: 40px;
    width: 100%;
    /* height: auto; */
  }

  .b-main-video .main-video__video {
    /* height: auto;
    position: static; */
  }

  .b-main-video .main-video__btn {
    top: 50%;
  }
}

@media screen and (max-width: 767px) {
  .b-main-video {
    margin-bottom: 24px;
  }
}

/* /video */
/*  первый экран главной */
.b-main-info {
  margin-bottom: 90px;
  position: relative;
  z-index: 1;
}

.b-main-info .main-info__content {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
}

.b-main-info .main-info__logo {
  position: absolute;
  left: 50%;
  top: 33px;
  transform: translateX(-50%);
  z-index: 1;
}



@media screen and (max-width: 1200px) {
  .b-main-info {
    margin-bottom: 64px;
  }

  .b-main-info .main-info__logo {
    display: none;
  }

  .b-main-info .main-info__content {
    position: static;
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  .b-main-info {
    margin-bottom: 48px;
  }
}

/*  /первый экран главной */

/*  преимущества на первом экране */
.b-top-benefits {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  pointer-events: none;
}

.b-top-benefits .top-benefits__item {
  width: calc(33.33% - 30px);
  text-align: center;
}

.b-top-benefits .top-benefits__num {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
}

.b-top-benefits .top-benefits__num span {
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #0077FF;
}

@media screen and (max-width: 1200px) {
  .b-top-benefits {
    max-width: 755px;
    margin: 0 auto 25px;
    color: #0077FF;
  }

  .b-top-benefits .top-benefits__item {
    font-size: 14px;
  }

  .b-top-benefits .top-benefits__num {
    margin-bottom: 10px;
    /* font-size: 40px; */
  }

  .b-top-benefits .top-benefits__num span {
    /* height: 40px; */
  }

  .b-top-benefits .top-benefits__txt {
    line-height: 130%;
    color: #133261;
  }
}

@media screen and (max-width: 767px) {
  .b-top-benefits {
    display: block;
  }

  .b-top-benefits .top-benefits__item {
    margin: 0 auto 16px;
    width: 100%;
    max-width: 300px;
  }

  .b-top-benefits .top-benefits__num {
    margin-bottom: 7px;
    font-size: 40px;
  }

  .b-top-benefits .top-benefits__num span {
    height: 40px;
  }
}

/* / преимущества на первом экране */

/* Записаться на прием */
.b-consult-btn {
  margin: auto;
  display: block;
  padding: 16px 24px;
  background: #FFFFFF;
  box-shadow: 0px 12px 60px rgba(14, 23, 53, 0.14);
  border: none;
  transition: all 0.3s;
  border-radius: 40px;
  line-height: 19px;
  font-size: 16px;
  color: #133261;
  cursor: pointer;
  transition: all 0.3s;
}

.b-consult-btn svg {
  margin-left: 16px;
  display: inline-block;
  vertical-align: middle;
}

.b-consult-btn:hover {
  background: #0077ff;
  color: #FFFFFF;
  transition: all 0.3s;
}

.b-consult-btn:hover svg rect {
  fill: #FFFFFF;
  transition: all 0.3s;
}

.b-consult-btn:hover svg path {
  stroke: #0077FF;
  transition: all 0.3s;
}

@media screen and (max-width: 1200px) {
  .b-consult-btn {
    font-size: 14px;
    background: #0077ff;
    color: #FFFFFF;
  }

  .b-consult-btn svg rect {
    fill: #FFFFFF;
    transition: all 0.3s;
  }

  .b-consult-btn svg path {
    stroke: #0077FF;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 1200px) {
  .b-consult-btn {
    width: 100%;
  }
}

/* /Записаться на прием */

/* преимущества на первом экране */
.b-benefit {
  margin-bottom: 90px;
  position: relative;
}

.b-benefit .benefit__content {
  display: flex;
  justify-content: space-between;

}

.b-benefit .benefit__img {
  position: absolute;
  max-width: none;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.b-benefit .benefit__left {
  width: 43%;
  position: relative;
  height: 580px;
}

.b-benefit .benefit__items {
  width: 57.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.b-benefit .benefit__item {
  margin-bottom: 60px;
  width: calc(50% - 20px);
  max-width: 300px;
}

.b-benefit .benefit__icon {
  margin-bottom: 20px;
  height: 64px;
}

.b-benefit .benefit__title {
  margin-bottom: 16px;
  line-height: 130%;
  font-weight: 700;
  font-size: 24px;
  color: #133261;
}

.b-benefit::after {
  content: '';
  display: block;
  position: absolute;
  width: 544.64px;
  height: 752.68px;
  right: -544.64px;
  bottom: -200px;
  background: #00FFE0;
  opacity: 0.06;
  filter: blur(100px);
  transform: rotate(48.15deg);
}

@media screen and (max-width: 1200px) {
  .b-benefit {
    margin-bottom: 15px;
  }

  .b-benefit .benefit__left {
    display: none;
  }

  .b-benefit .benefit__items {
    width: 100%;
  }

  .b-benefit .benefit__item {
    margin-bottom: 50px;
    max-width: none;
    font-size: 14px;
  }

  .b-benefit .benefit__title {
    max-width: 270px;
    font-size: 20px;
  }

  .b-benefit .benefit__text {
    max-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .b-benefit .benefit__item {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    line-height: 130%;
  }

  .b-benefit .benefit__icon {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .benefit__inside {
    margin-top: 4px;
    width: calc(100% - 90px);
  }

  .b-benefit .benefit__title {
    margin-bottom: 5px;
    max-width: 100%;
    font-size: 18px;
  }

  .b-benefit .benefit__text {
    max-width: 100%;
  }

  .b-benefit::after {
    display: none;
  }
}

/* / преимущества на первом экране */

/* Стоимость самых популярных услуг */
.b-prices {
  margin-bottom: 65px;
  position: relative;
}

.b-prices .prices__items {
  margin: 0 -12px;
  display: flex;
  flex-wrap: wrap;
}

.b-prices .prices__item {
  margin: 0 12px 24px;
  padding: 30px;
  box-sizing: border-box;
  width: calc(33.33% - 24px);
  height: 318px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #EBF7FF;
  border-radius: 32px;
  text-align: center;
}

.b-prices .prices__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  border: 1px solid #9D9DB5;
  border-radius: 26px;
  opacity: 0.2;
}

.b-prices .prices__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #133261;
}

.b-prices .prices__txt {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #9D9DB5;
}

.b-prices .prices__price {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #133261;
}

.b-prices::before {
  content: '';
  position: absolute;
  right: -400px;
  top: -170px;
  width: 383px;
  height: 529.3px;
  background: #0077FF;
  opacity: 0.16;
  filter: blur(100px);
  transform: rotate(48.15deg);
}

.b-prices::after {
  content: '';
  position: absolute;
  left: -400px;
  bottom: -260px;
  width: 383px;
  height: 529.3px;
  background: #0077FF;
  opacity: 0.16;
  filter: blur(100px);
  transform: rotate(48.15deg);
}

.b-prices .prices__pills {
  position: absolute;
  right: -420px;
  top: -116px;
}

@media screen and (max-width: 1200px) {
  .b-prices {
    margin-bottom: 40px;
  }

  .b-prices .prices__pills {
    display: none;
  }

  .b-prices .prices__item {
    width: calc(50% - 24px);
    height: 230px;
  }

  .b-prices .prices__title {
    font-size: 20px;
  }

  .b-prices .prices__txt {
    font-size: 14px;
  }

  .b-prices .prices__price {
    font-size: 28px;
  }

  .b-prices::after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .b-prices {
    margin-bottom: 34px;
  }

  .b-prices::before {
    display: none;
  }

  .b-prices .prices__item {
    margin-bottom: 16px;
    width: 100%;
    height: 180px;
  }
}

/* / Стоимость самых популярных услуг */

/* Работаем со всеми видами животных */
.b-pets {
  margin-bottom: 60px;
  position: relative;
}

.b-pets .pets__items {
  margin: 0 -12px;
  display: flex;
  flex-wrap: wrap;
}

.b-pets .pets__item {
  margin: 0 12px 24px;
  padding: 30px;
  box-sizing: border-box;
  width: calc(25% - 24px);
  height: 166px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #EBF7FF;
  border-radius: 32px;
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  color: #133261;
  cursor: pointer;
}

.b-pets .pets__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  border: 1px solid #9D9DB5;
  border-radius: 26px;
  opacity: 0.2;
}

.b-pets .pets__img {
  margin-right: 16px;
}

.b-pets .pets__microscope {
  position: absolute;
  top: -458px;
  left: -603px;
  z-index: -1;
}

.b-pets::before {
  content: '';
  position: absolute;
  width: 544.64px;
  height: 752.68px;
  left: -540px;
  top: -120px;
  background: #00FFE0;
  opacity: 0.06;
  filter: blur(100px);
  transform: rotate(48.15deg);
}

.pets__title {
  overflow: hidden;
}

.pets__title span {
  transition: margin-left .2s;
  margin-left: -150px;
}

.pets__item:hover .pets__title span {
  margin-left: 0px;
}

@media screen and (max-width: 1200px) {
  .b-pets {
    margin-bottom: 35px;
  }

  .b-pets::before {
    width: 121.46px;
    height: 127.65px;
    background: url(../img/paw.png) 50% 50% no-repeat;
    opacity: 1;
    transform: none;
    right: -30px;
    top: auto;
    left: auto;
    bottom: -55px;
    filter: none;
    transform: none;
  }

  .b-pets .pets__microscope {
    display: none;
    z-index: -1;
  }

  .b-pets .pets__item {
    width: calc(33.33% - 24px);
    height: 150px;
  }

  .pets__item .pets__title span {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .b-pets {
    margin-bottom: 35px;
  }

  .b-pets::before {
    display: none;
    z-index: -1;
  }

  .b-pets .pets__items {
    z-index: 2;
  }

  .b-pets .pets__item {
    padding: 16px;
    margin-bottom: 16px;
    width: calc(50% - 24px);
    height: 80px;
    border-radius: 24px;
    font-size: 14px;
    cursor: pointer;
  }

  .b-pets .pets__item::before {
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-radius: 18px;
  }

  .b-pets .pets__img {
    margin-right: 8px;
  }

  .b-pets .pets__img img {
    max-width: 39px;
    max-height: 39px;
  }
}

@media screen and (max-width: 360px) {
  .b-pets .pets__item {
    width: 100%;
  }
}

/* /Работаем со всеми видами животных */

/* Оборудование с которым работаем */
.b-equipment {
  margin-bottom: 70px;
  position: relative;
}

.b-equipment .equipment__content {
  display: flex;
  justify-content: space-between;
}

.b-equipment .equipment__list {
  width: calc(50% - 12px);
}

.b-equipment .equipment__img {
  width: calc(50% - 12px);
}

.b-equipment .equipment__img img {
  border-radius: 32px;
  width: 620px;
  max-width: 100%;
  height: 414px;
  object-fit: cover;
  opacity: 0;
  display: none;
  transition: all 0.3s;
}

.b-equipment .equipment__img .active {
  opacity: 1;
  display: block;
}

.b-equipment .equipment__li {
  padding: 20px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #9D9DB5;
  transition: all 0.3s;
  cursor: pointer;
}

.b-equipment .equipment__li.blue {
  color: #0077FF;
}

.b-equipment .equipment__paws-2 {
  position: absolute;
  top: 165px;
  left: -357px;
  z-index: -1;
}

.b-equipment .equipment__paws-3 {
  position: absolute;
  top: -217px;
  right: -884px;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .b-equipment {
    margin-bottom: 40px;
  }

  .b-equipment .equipment__content {
    flex-wrap: wrap;
  }

  .b-equipment .equipment__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    order: 1;
  }

  .b-equipment .equipment__img {
    margin-bottom: 35px;
    width: 100%;
  }

  .b-equipment .equipment__img img {
    width: 100%;
    height: 400px;
  }

  .b-equipment .equipment__list {
    justify-content: space-between;
  }

  .b-equipment .equipment__li {
    padding: 0;
    margin-bottom: 24px;
    width: calc(50% - 12px);
    font-size: 18px;
  }

  .b-equipment .equipment__paws-3 {
    display: none;
  }

  .b-equipment .equipment__paws-2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .b-equipment {
    margin-bottom: 35px;
  }

  .b-equipment .equipment__img {
    margin-bottom: 25px;
  }

  .b-equipment .equipment__img img {
    height: 218px;
  }

  .b-equipment .equipment__li {
    margin-bottom: 16px;
    width: 100%;
    line-height: 140%;
    font-size: 16px;
  }
}

/* /Оборудование с которым работаем */

/* Доступная стоимость ветеринарных услуг  */
.b-servise {
  margin-bottom: 90px;
  position: relative;
}

.b-servise h2 {
  max-width: 540px;
}

.b-servise .container {
  position: relative;
}

.b-servise .servise__inside {
  background: #EBF7FF;
  padding-top: 43px;
  padding-bottom: 90px;
}

.b-servise .servise__top {
  height: 48px;
  background: url(../img/blue-top.png);
}

.b-servise .servise__tabs {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.b-servise .servise__list {
  padding-right: 24px;
  width: 295px;
  max-height: 775px;
  overflow: auto;
}

.b-servise .servise__list::-webkit-scrollbar {
  width: 6px;
}

.b-servise .servise__list::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 8px;
}

.b-servise .servise__list::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #0077FF, #0077FF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  border-radius: 10px;
}

.b-servise .servise__blocks {
  width: calc(100% - 315px);
}

.b-servise .servise__content {
  display: none;
}

.b-servise .servise__content.active {
  display: block;
}

.b-servise .servise__li {
  margin-bottom: 16px;
  padding: 18px 28px;
  border: 1px solid #D1D1DA;
  border-radius: 8px;
  text-align: center;
  line-height: 140%;
  font-size: 14px;
  color: #9D9DB5;
  transition: all 0.3s;
  cursor: pointer;
}

.b-servise .servise__li:hover {
  border: 1px solid #0077FF;
  color: #0077FF;
}

.b-servise .servise__li.active {
  border: 1px solid #0077FF;
  background: #0077FF;
  color: #fff;
}

.b-servise .servise__about {
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
}

.b-servise .servise__img {
  width: 404px;
}

.b-servise .servise__img img {
  width: 404px;
  height: 377px;
  object-fit: cover;
  border-radius: 32px;
}

.b-servise .servise__text {
  width: calc(100% - 440px);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #133261;
}

.b-servise .servise__name {
  margin-bottom: 20px;
  line-height: 130%;
  font-weight: 700;
  font-size: 36px;
  color: #133261;
}

.b-servise .servise__txt {
  margin-bottom: 20px;
}

.b-servise .servise__btn {
  margin-bottom: 10px;
  margin-right: 24px;
  padding: 16px 24px;
  height: 62px;
  display: inline-flex;
  align-items: center;
  background: #0077FF;
  border: 1px solid #0077FF;
  border-radius: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s;
}

.b-servise .servise__btn:hover {
  background: #FFF;
  color: #0077FF;
  transition: all 0.3s;
}

.b-servise .servise__btn img,
.b-servise .servise__btn svg {
  margin-left: 16px;
  transition: all 0.3s;
}

.b-servise .servise__btn:hover svg rect {
  fill: #0077FF;
  transition: all 0.3s;
}

.b-servise .servise__btn:hover svg path {
  stroke: #FFF;
  transition: all 0.3s;
}

.b-servise .servise__info {
  margin-bottom: 40px;
  padding-left: 40px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  color: #9D9DB5;
}

.b-servise .servise__info img {
  position: absolute;
  top: 0;
  left: 0;
}

.b-servise .servise__table {
  padding: 17px 36px 17px 30px;
  background: #FFFFFF;
  border-radius: 8px;
}

.b-servise .servise__tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  line-height: 130%;
}

.b-servise .servise__tr:last-child {
  margin-bottom: 0;
}

.b-servise .servise__serv {
  width: calc(100% - 345px);
}

.b-servise .servise__bye {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: #0077FF;
}

.b-servise .servise__bye span {
  position: relative;
}

.b-servise .servise__bye span:before {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0077FF;
  transition: all 0.3s;
}

.b-servise .servise__bye:hover span:before {
  width: 100%;
}

.b-servise .servise__arr {
  content: '';
  margin-left: 16px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #0077FF;
  border: 1px solid #0077FF;
  border-radius: 40px;
  transition: all 0.3s;
}

.b-servise .servise__bye:hover .servise__arr {
  background: none;
}

.b-servise .servise__bye:hover svg path {
  stroke: #0077FF;
  transition: all 0.3s;
}

.b-servise .servise__price {
  font-weight: 700;
  font-size: 18px;
}

.b-servise .service__phonendoscope {
  position: absolute;
  top: -255px;
  right: -464px;
  z-index: 1;
  width: 627px;
  transform: rotate(-15deg);
}

.b-servise::after {
  content: '';
  display: block;
  position: absolute;
  width: 383px;
  height: 529.3px;
  top: -127px;
  right: -270px;
  background: #0077FF;
  opacity: 0.16;
  filter: blur(100px);
  transform: rotate(48.15deg);
}

.b-servise .servise__toggle {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1200px) {
  .b-servise {
    margin-bottom: 65px;
    position: relative;
  }

  .b-servise h2 {
    max-width: none;
  }

  .b-servise::after {
    display: none;
  }

  .b-servise::before {
    content: '';
    display: block;
    width: 174.75px;
    height: 183.64px;
    position: absolute;
    top: -100px;
    right: -23px;
    background: url(../img/big-paw.png) 50% 50% no-repeat;
  }

  .b-servise .servise__top {
    background-size: 100% 100%;
  }

  .b-servise .service__phonendoscope {
    display: none;
  }

  .b-servise .servise__tabs {
    margin-top: 43px;
    display: block;
  }

  .b-servise .servise__list {
    margin: 0 -30px 25px;
    padding: 0 0 0 30px;
    width: calc(100% + 60px);
    white-space: nowrap;
    display: flex;
  }

  .b-servise .servise__li {
    margin-right: 15px;
    margin-bottom: 23px;
    padding: 15px 27px;
  }

  .b-servise .servise__list::-webkit-scrollbar {
    margin: 0 30px;
    width: calc(100% - 60px);
    height: 6px;
  }

  .b-servise .servise__blocks {
    width: 100%;
  }

  .b-servise .servise__name {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .b-servise .servise__img {
    width: calc(50% - 15px);
  }

  .b-servise .servise__img img {
    width: 100%;
    height: 218px;
  }

  .b-servise .servise__text {
    margin-top: 0;
    width: calc(50% - 15px);
    font-size: 14px;
  }

  .b-servise .servise__btn {
    margin-right: 10px;
    font-size: 14px;
  }

  .b-servise .servise__btn img,
  .b-servise .servise__btn svg {
    display: none;
  }

  .b-servise .servise__about {
    margin-bottom: 12px;
  }

  .b-servise .servise__info {
    margin-bottom: 22px;
  }

  .b-servise .servise__table {
    padding: 17px 28px 17px 24px;
  }

  .b-servise .servise__tr {
    font-size: 14px;
  }

  .b-servise .servise__serv {
    width: calc(100% - 245px);
  }

  .b-servise .servise__price {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .b-servise {
    margin-bottom: 48px;
  }

  .b-servise .servise__inside {
    padding-top: 27px;
    padding-bottom: 50px;
  }

  .b-servise .servise__tabs {
    margin-top: 35px;
    position: relative;
  }

  .b-servise .servise__toggle {
    display: block;
    margin-bottom: 24px;
    padding: 16px 60px 16px 24px;
    overflow: hidden;
    position: relative;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #133261;
  }

  .b-servise .servise__toggle::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 24px;
    background: url('../img/icons/toggle-select.svg');
    transition: all 0.3s;
  }

  .b-servise.open .servise__toggle::before {
    transform: translateY(-50%) rotate(180deg);
    position: absolute;
    transition: all 0.3s;
  }

  .b-servise .servise__list {
    padding: 0;
    margin: 0;
    display: none;
    flex-wrap: wrap;
    white-space: normal;
    max-height: 300px;
    overflow: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
  }

  .b-servise .servise__list::-webkit-scrollbar {
    width: 6px;
  }

  .b-servise .servise__list::-webkit-scrollbar-track {
    background: #D1D1DA;
    border-radius: 8px;
  }

  .b-servise .servise__li {
    margin: 0;
    border-radius: 0;
    border-width: 1px 0 0px 0px;
    background: #fff;
    width: 100%;
  }

  .b-servise.open .servise__li {
    display: block;
  }

  .b-servise .servise__li.active {
    background: #fff;
    color: #0077FF;
  }

  .b-servise::before {
    display: none;
  }

  .b-servise .servise__about {
    display: block;
  }

  .b-servise .servise__img {
    margin-bottom: 20px;
    width: 100%;
  }

  .b-servise .servise__text {
    width: 100%;
  }

  .b-servise .servise__txt {
    margin-bottom: 25px;
  }

  .b-servise .servise__name {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .b-servise .servise__btns {
    margin-bottom: 20px;
  }

  .b-servise .servise__btn {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .b-servise .servise__btn img,
  .b-servise .servise__btn svg {
    display: inline-block;
  }

  .b-servise .servise__tr {
    position: relative;
    align-items: flex-start;
    min-height: 47px;
  }

  .b-servise .servise__serv {
    width: calc(100% - 95px);
  }

  .b-servise .servise__price {
    width: 80px;
  }

  .b-servise .servise__arr {
    display: none;
  }

  .b-servise .servise__bye {
    position: absolute;
    top: 30px;
    right: 0;
  }

  .b-servise .servise__info {
    margin-bottom: 24px;
    line-height: 140%;
    font-size: 12px;
  }

  .b-servise .servise__table {
    padding: 26px 24px 17px 24px;
  }

  .b-servise .servise__tr {
    margin-bottom: 24px;
  }
}

/* /Доступная стоимость ветеринарных услуг  */

/* Лаборатория и анализы */
.b-lab {
  margin-bottom: 150px;
  position: relative;
}

.b-lab::before {
  content: '';
  top: 0;
  right: -500px;
  position: absolute;
  width: 544px;
  height: 752px;
  background: #00FFE0;
  opacity: 0.06;
  filter: blur(100px);
  transform: rotate(48.15deg);
  z-index: -1;
}

.b-lab::after {
  content: '';
  top: 455px;
  right: -540px;
  position: absolute;
  width: 383px;
  height: 529px;
  background: #0077FF;
  opacity: 0.16;
  filter: blur(100px);
  transform: rotate(48.15deg);
}

.b-lab .lab__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-lab .lab__left {
  width: calc(50% - 15px);
}

.b-lab .lab__right {
  width: calc(50% - 15px);
}

.b-lab .lab__img {
  border-radius: 32px;
  object-fit: cover;
}

.b-lab .lab__item {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  line-height: 140%;
}

.b-lab .lab__item:last-child {
  margin-bottom: 0;
}

.b-lab .lab__icon {
  margin-top: -8px;
  width: 108px;
}

.b-lab .lab__text {
  width: calc(100% - 110px);
}

.b-lab .lab__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #133261;
}

.b-lab .lab__drill {
  position: absolute;
  top: -385px;
  left: -700px;
}

.b-lab .lab__subtitle {
  margin-bottom: 66px;
}

@media screen and (max-width: 1200px) {
  .b-lab {
    margin-bottom: 65px;
  }

  .b-lab .lab__drill {
    display: none;
  }

  .b-lab .lab__content {
    flex-wrap: wrap;
  }

  .b-lab .lab__left {
    width: 100%;
    order: 1;
  }

  .b-lab .lab__right {
    margin-bottom: 40px;
    width: 100%;
  }

  .b-lab .lab__subtitle {
    margin-bottom: 40px;
    max-width: 500px;
  }

  .b-lab .lab__img {
    width: 100%;
    height: 400px;
  }

  .b-lab .lab__icon {
    width: 135px;
  }

  .b-lab .lab__text {
    width: calc(100% - 135px);
    font-size: 14px;
  }

  .b-lab .lab__name {
    font-size: 20px;
  }

  .b-lab .lab__txt {
    line-height: 136%;
  }
}

@media screen and (max-width: 767px) {
  .b-lab {
    margin-bottom: 48px;
  }

  .b-lab .lab__subtitle {
    margin-bottom: 33px;
    max-width: 500px;
  }

  .b-lab .lab__right {
    margin-bottom: 30px;
  }

  .b-lab .lab__img {
    height: 218px;
  }

  .b-lab .lab__icon {
    width: 88px;
  }

  .b-lab::before {
    display: none;
  }

  .b-lab::after {
    display: none;
  }

  .b-lab .lab__item {
    margin-bottom: 40px;
  }

  .b-lab .lab__text {
    width: calc(100% - 90px);
    margin-top: -6px;
  }

  .b-lab .lab__name {
    margin-bottom: 8px;
    max-width: 100%;
    font-size: 18px;
  }

  .b-lab .lab__txt {
    line-height: 144%;
  }

}

/* /Лаборатория и анализы */
/* Запишись на консультацию */
.b-form-bulldog {
  margin-bottom: 80px;
  margin-top: 67px;
  position: relative;
}

.b-form-bulldog .form-bulldog__inside {
  padding: 45px 60px;
  display: flex;
  justify-content: space-between;
  background: #0077FF;
  box-shadow: 0px 12px 60px rgba(0, 119, 255, 0.4);
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.b-form-bulldog .form-bulldog__inside::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  display: block;
  opacity: 0.3;
  border: 1px solid #FFFFFF;
  border-radius: 26px;
}

.b-form-bulldog .form-bulldog__inside::after {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 80px;
  width: 600px;
  height: 600px;
  background: #00FFFF;
  opacity: 0.6;
  filter: blur(100px);
  transform: rotate(48.15deg);
  z-index: -1;
}

.b-form-bulldog .form-bulldog__img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  z-index: 2;
}

.b-form-bulldog .form-bulldog__img img {
  display: block;
}

.b-form-bulldog .form-bulldog__text {
  width: 314px;
  position: relative;
  line-height: 140%;
  color: #FFFFFF;
}

.b-form-bulldog .form-bulldog__text::before {
  content: '';
  display: block;
  position: absolute;
  top: 62px;
  left: -6px;
  width: 133px;
  height: 144px;
  background: url(../img/form-paws.png) 50% 50% no-repeat;
}

.b-form-bulldog .form-bulldog__form {
  width: 296px;
  z-index: 3;
}

.b-form-bulldog .form-bulldog__form::before {
  content: '';
  display: block;
  position: absolute;
  right: -300px;
  top: -300px;
  width: 600px;
  height: 600px;
  background: #00FFF0;
  opacity: 0.6;
  filter: blur(100px);
  transform: rotate(48.15deg);
  z-index: -1;
}

.b-form-bulldog .form-bulldog__stick {
  margin-bottom: 95px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.b-form-bulldog .form-bulldog__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
}

.b-form-bulldog .form-bulldog__input {
  margin-bottom: 8px;
  padding: 20px 24px;
  width: 100%;
  display: block;
  background: #FFFFFF;
  border-radius: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  border: none;
}

.b-form-bulldog .form-bulldog__input::placeholder {
  color: #9D9DB5;
}

.b-form-bulldog .form-bulldog__btn {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: #FFFFFF;
  border-radius: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  color: #133261;
  transition: all 0.3s;
}

.b-form-bulldog .form-bulldog__btn:hover {
  background: #0077ff;
  color: #fff;
  transition: all 0.3s;
}

.b-form-bulldog .form-bulldog__btn img,
.b-form-bulldog .form-bulldog__btn svg {
  margin-left: 16px;
  transition: all 0.3s;
}

.b-form-bulldog .form-bulldog__btn:hover svg rect {
  fill: #fff;
  transition: all 0.3s;
}

.b-form-bulldog .form-bulldog__btn:hover svg path {
  stroke: #0077FF;
  transition: all 0.3s;
}


.b-form-bulldog .form-bulldog__checkbox-icon {
  display: none;
}

.b-form-bulldog .form-bulldog__checkbox {
  margin: 24px 0;
  padding-left: 27px;
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #80BBFF;
  cursor: pointer;
}

.b-form-bulldog .form-bulldog__checkbox a {
  text-decoration: none;
  color: #fff;
}

.b-form-bulldog .form-bulldog__checkbox::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.b-form-bulldog .form-bulldog__checkbox::after {
  content: "\2713";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #fff;
  opacity: 0;
}

.b-form-bulldog .form-bulldog__checkbox-icon:checked+label::after {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .b-form-bulldog {
    margin-bottom: 60px;
  }

  .b-form-bulldog .form-bulldog__img {
    display: none;
  }

  .b-form-bulldog .form-bulldog__inside {
    padding: 40px 50px;
    display: block;
  }

  .b-form-bulldog .form-bulldog__text {
    width: 100%;
    font-size: 14px;
  }

  .b-form-bulldog .form-bulldog__stick {
    margin-bottom: 43px;
    font-size: 14px;
  }

  .b-form-bulldog .form-bulldog__title {
    margin-bottom: 17px;
    font-size: 32px;
  }


  .form-bulldog__txt {
    margin-bottom: 40px;
  }

  .b-form-bulldog .form-bulldog__form {
    width: 100%;
  }

  .b-form-bulldog .form-bulldog__line {
    display: flex;
    align-items: center;
  }

  .b-form-bulldog .form-bulldog__input {
    margin-bottom: 20px;
    margin-right: 30px;
    width: 50%;
  }

  .b-form-bulldog .form-bulldog__input:last-child {
    margin-right: 0;
  }

  .b-form-bulldog .form-bulldog__checkbox {
    margin: 8px 15px 8px 0;
    width: 50%;
    padding-left: 27px;
  }

  .b-form-bulldog .form-bulldog__form::before {
    right: -160px;
    top: -160px;
    width: 320px;
    height: 320px;
  }

  .b-form-bulldog .form-bulldog__inside::after {
    top: auto;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .b-form-bulldog {
    margin-top: 0;
    margin-bottom: 48px;
  }

  .b-form-bulldog .form-bulldog__inside {
    padding: 30px;
  }

  .b-form-bulldog .form-bulldog__stick {
    margin-bottom: 16px;
  }

  .b-form-bulldog .form-bulldog__title {
    margin-bottom: 17px;
    font-size: 28px;
  }

  .b-form-bulldog .form-bulldog__txt {
    margin-bottom: 24px;
  }

  .b-form-bulldog .form-bulldog__line {
    display: block;
  }

  .b-form-bulldog .form-bulldog__input {
    margin-bottom: 16px;
    width: 100%;
  }

  .b-form-bulldog .form-bulldog__checkbox {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
  }

  .b-form-bulldog .form-bulldog__btn {
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .b-form-bulldog .form-bulldog__title {
    font-size: 24px;
  }
}

/* /Запишись на консультацию */

/* Наши специалисты */
.b-team {
  margin-bottom: 55px;
  position: relative;
}

.b-team .team__paws {
  position: absolute;
  bottom: -170px;
  left: -360px;
}

.b-team .team__slide {
  text-align: center;
}

.b-team .team__image {
  margin-bottom: 30px;
  padding: 24px 24px 0;
  background: #EBF7FF;
  border-radius: 32px;
  position: relative;
  z-index: 1;
}

.b-team .team__image::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  opacity: 0.2;
  border: 1px solid #9D9DB5;
  border-radius: 26px;
  z-index: -1;
}

.b-team .team__image img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  height: 326px;
  z-index: 1;
}

.b-team .team__name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #133261;
}

.b-team .team__position {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #0077FF;
}

.b-team .team__wrapper {
  margin-bottom: 48px;
}

@media screen and (max-width: 1200px) {
  .b-team .team__wrapper {
    margin-bottom: 55px;
  }

  .b-team .team__image {
    margin-bottom: 24px;
  }

  .b-team .team__image img {
    height: 235px;
  }

  .b-team .team__name {
    font-size: 18px;
  }

  .b-team .team__position {
    font-size: 14px;
  }

  .b-team .team__experience {
    font-size: 14px;
  }

  .b-team .team__paws {
    display: none;
  }

  .b-team .team__next svg,
  .b-team .team__prev svg {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 767px) {
  .b-team {
    margin-bottom: 48px;
  }

  .b-team .team__slider {
    width: 240px;
    max-width: 100%;
    margin: 0 auto;
    overflow: visible;
  }

  .b-team .team__slide {
    /* width: 240px; */
  }

  .b-team .team__wrapper {
    margin-bottom: 32px;
  }

  .b-team .team__controls {
    margin: 0 calc((100vw - 100%) / -2 + 25px);
  }
}

/* /Наши специалисты */

/* Принципы и подход к нашей работе */
.b-way {
  margin-bottom: 80px;
  position: relative;
}

.b-way .way__top {
  height: 48px;
  background: url(../img/blue-top-2.png);
}

.b-way .way__inside {
  padding-top: 65px;
  background: #EBF7FF url(../img/way-bg.png) 0 100% no-repeat;
}

.b-way .way__content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.b-way .way__left {
  width: calc(50% - 15px);
}

.b-way .way__left img {
  margin-left: -118px;
  display: block;
  max-width: none;
}

.b-way .way__right {
  margin-top: 73px;
  width: calc(50% - 15px);
}

.b-way .way__item {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  line-height: 140%;
}

.b-way .way__icon {
  margin-top: -8px;
  width: 108px;
}

.b-way .way__text {
  width: calc(100% - 110px);
}

.b-way .way__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #133261;
}

.b-way .way__termometr {
  position: absolute;
  right: -500px;
  top: -134px;
  transform: rotate(39deg);
  width: 600px;
}

.b-way::before {
  content: '';
  display: block;
  position: absolute;
  width: 544.64px;
  height: 752.68px;
  right: -492px;
  top: -20px;
  background: #00FFE0;
  opacity: 0.08;
  filter: blur(100px);
  transform: rotate(48.15deg);
}

.b-way::after {
  content: '';
  display: block;
  position: absolute;
  width: 383px;
  height: 529.3px;
  right: -252px;
  top: -265px;
  background: #0077FF;
  opacity: 0.14;
  filter: blur(100px);
  transform: rotate(48.15deg);
}

@media screen and (max-width: 1200px) {
  .b-way {
    margin-bottom: 65px;
    position: relative;
  }

  .b-way::after {
    display: none;
  }

  .b-way::before {
    content: '';
    display: block;
    width: 174.75px;
    height: 183.64px;
    position: absolute;
    top: -151px;
    left: -15px;
    filter: none;
    opacity: 1;
    transform: rotate(-28deg);
    background: url(../img/big-paw.png) 50% 50% no-repeat;
  }

  .b-way .way__top {
    background-size: 100% 100%;
  }

  .b-way .way__inside {
    padding-top: 32px;
  }

  .b-way .way__termometr {
    display: none;
  }

  .b-way .way__content {
    flex-wrap: wrap;
  }

  .b-way .way__left {
    width: 100%;
    order: 1;
  }

  .b-way .way__right {
    margin-top: 0;
    width: 100%;
  }

  .b-way .way__item {
    margin-bottom: 45px;
  }

  .b-way .way__icon {
    width: 130px;
  }

  .b-way .way__text {
    width: calc(100% - 130px);
    line-height: 140%;
    font-size: 14px;
  }

  .b-way .way__name {
    margin-bottom: 18px;
    font-size: 18px;
  }

  .b-way .way__left img {
    margin-left: 90px;
    width: 600px;
    height: 480px;
    object-fit: cover;
    object-position: top;
  }

}

@media screen and (max-width: 767px) {
  .b-way {
    margin-bottom: 48px;
  }

  .b-way::before {
    display: none;
  }

  .b-way .way__inside {
    padding-top: 27px;
    overflow: hidden;
  }

  .b-way .way__content {}

  .b-way .way__icon {
    width: 88px;
  }

  .b-way .way__name {
    margin-bottom: 9px;
  }

  .b-way .way__text {
    margin-top: -4px;
    width: calc(100% - 90px);
    line-height: 140%;
  }

  .b-way .way__left img {
    margin-bottom: -21%;
    margin-left: 0px;
    width: 100%;
    height: auto;
  }
}

/* /Принципы и подход к нашей работе */

/* Лаборатория и анализы */
.b-hospital {
  margin-bottom: 70px;
  position: relative;
}

.b-hospital::before {
  content: '';
  bottom: -80px;
  left: -850px;
  position: absolute;
  width: 480.8px;
  height: 664.46px;
  background: #0077FF;
  opacity: 0.16;
  filter: blur(100px);
  transform: matrix(-0.67, 0.74, 0.74, 0.67, 0, 0);
  z-index: -1;
}

.b-hospital::after {
  content: '';
  bottom: -600px;
  left: -850px;
  position: absolute;
  width: 683.72px;
  height: 944.89px;
  background: #00FFE0;
  opacity: 0.06;
  filter: blur(100px);
  transform: matrix(-0.67, 0.74, 0.74, 0.67, 0, 0);
  z-index: -1;
}

.b-hospital .hospital__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-hospital .hospital__left {
  width: calc(50% - 15px);
}

.b-hospital .hospital__right {
  width: calc(50% - 15px);
}

.b-hospital .hospital__img {
  border-radius: 32px;
  object-fit: cover;
}

.b-hospital .hospital__item {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  line-height: 140%;
}

.b-hospital .hospital__item:last-child {
  margin-bottom: 0;
}

.b-hospital .hospital__icon {
  margin-top: -8px;
  width: 108px;
}

.b-hospital .hospital__text {
  width: calc(100% - 110px);
}

.b-hospital .hospital__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #133261;
}

.b-hospital .hospital__subtitle {
  margin-bottom: 66px;
}

@media screen and (max-width: 1200px) {
  .b-hospital {
    margin-bottom: 65px;
    position: relative;
  }

  .b-hospital .hospital__subtitle {
    margin-bottom: 40px;
    max-width: 500px;
  }

  .b-hospital .hospital__content {
    flex-wrap: wrap;
  }

  .b-hospital .hospital__left {
    width: 100%;
    order: 1;
  }

  .b-hospital .hospital__right {
    margin-bottom: 40px;
    width: 100%;
  }

  .b-hospital .hospital__item {
    margin-bottom: 45px;
  }

  .b-hospital .hospital__img {
    width: 100%;
    height: 400px;
    object-position: 0px -130px;
  }

  .b-hospital .hospital__icon {
    width: 135px;
  }

  .b-hospital .hospital__text {
    width: calc(100% - 135px);
    font-size: 14px;
  }

  .b-hospital .hospital__name {
    font-size: 20px;
  }

  .b-hospital .hospital__txt {
    line-height: 136%;
  }
}

@media screen and (max-width: 767px) {
  .b-hospital {
    margin-bottom: 48px;
  }

  .b-hospital .hospital__subtitle {
    margin-bottom: 30px;
  }

  .b-hospital .hospital__right {
    margin-bottom: 33px;
  }

  .b-hospital .hospital__img {
    width: 100%;
    height: auto;
    height: 218px;
    object-position: 0px -64px;
  }

  .b-hospital .hospital__item {
    margin-bottom: 38px;
  }

  .b-hospital .hospital__icon {
    width: 88px;
  }

  .b-hospital .hospital__text {
    width: calc(100% - 88px);
  }

  .b-hospital .hospital__name {
    margin-bottom: 10px;
  }

  .b-hospital .hospital__txt {
    line-height: 140%;
  }
}

/* /Лаборатория и анализы */
/* Фото нашей клиник */
.b-photos {
  margin-bottom: 90px;
  position: relative;
}

.b-photos .photos__wrapper {
  margin-bottom: 48px;
}

.b-photos .photos__slide img {
  height: 270px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 32px;
  box-sizing: border-box;
  border: 1px solid transparent;
  overflow: hidden;
  transition: all 0.3s;
}

.b-photos .photos__slide:hover img {
  border: 1px solid #0077FF;
}

.b-photos .photos__paws {
  position: absolute;
  bottom: -210px;
  right: -335px;
}

.b-photos .photos__prev svg,
.b-photos .photos__next svg {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 1200px) {
  .b-photos {
    margin-bottom: 60px;
  }

  .b-photos .photos__paws {
    display: none;
  }

  .b-photos .photos__prev svg,
  .b-photos .photos__next svg {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 767px) {
  .b-photos {
    margin-bottom: 48px;
  }

  .b-photos .photos__slider {
    overflow: visible;
  }

  .b-photos .photos__wrapper {
    margin-bottom: 28px;
  }

  .b-photos .photos__slide img {
    height: 218px;
  }
}

/* /Фото нашей клиник */

/* Этапы работы */
.b-steps {
  margin-bottom: 80px;
}

.b-steps .container {
  position: relative;
}

.b-steps .steps__inside {
  background: url(../img/steps-bg.png) #EBF7FF 100% 100% no-repeat;
  padding-top: 43px;
}

.b-steps .steps__top {
  height: 48px;
  background: url(../img/blue-top.png);
}

.b-steps .steps__content {
  min-height: 750px;
}

.b-steps .steps__food {
  position: absolute;
  top: -200px;
  left: -430px;
}

.b-steps .steps__img {
  margin-right: -170px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.b-steps .steps__items {
  margin: 0 -35px;
  display: flex;
  flex-wrap: wrap;
  width: 980px;
}

.b-steps .steps__item {
  margin: 0 35px 75px;
  width: calc(33.33% - 70px);
  max-width: 250px;
  position: relative;
}

.b-steps .steps__item::before {
  content: '';
  width: 192px;
  height: 17px;
  background: url(../img/icons/steps.svg) 50% 50%;
  background-size: cover;
  position: absolute;
  top: -25px;
  left: 85px;
}

.b-steps .steps__item:nth-child(3)::before,
.b-steps .steps__item:last-child::before {
  display: none;
}

.b-steps .steps__icon {
  margin-bottom: 16px;
}

.b-steps .steps__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #133261;
}

@media screen and (max-width: 1200px) {
  .b-steps {
    margin-bottom: 65px;
    padding-bottom: 0px;
    overflow: hidden;
  }

  .b-steps .steps__content {
    min-height: 860px;
  }

  .b-steps .steps__food {
    display: none;
  }

  .b-steps .steps__img {
    margin-right: -170px;
    display: block;
    position: absolute;
    bottom: -28px;
    right: 162px;
    width: 480px;
  }

  .b-steps .steps__items {
    width: 100%;
  }

  .b-steps .steps__item {
    margin: 0 20px 50px;
    width: calc(33.33% - 40px);
    max-width: none;
    position: relative;
  }

  .b-steps .steps__title {
    font-size: 20px;
  }

  .b-steps .steps__txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .b-steps {
    margin-bottom: 48px;
    overflow: hidden;
  }

  .b-steps .steps__top {
    background-size: 100% 100%;
  }

  .b-steps .steps__inside {
    padding-top: 28px;
  }

  .b-steps .steps__item::before {
    display: none;
  }

  .b-steps .steps__content {
    min-height: 0;
  }

  .b-steps .steps__items {
    margin: 0 0 20px;
  }

  .b-steps .steps__item {
    margin: 0 0 30px;
    width: 100%;
    display: flex;
    line-height: 130%;
  }

  .b-steps .steps__item:last-child {
    margin-bottom: 0;
  }

  .b-steps .steps__icon {
    width: 88px;
  }

  .b-steps .steps__text {
    width: calc(100% - 88px);
  }

  .b-steps .steps__img {
    margin-right: 0;
    margin-bottom: -15%;
    display: block;
    position: static;
    width: 100%;
  }

  .b-steps .steps__title {
    margin-bottom: 10px;
  }
}

/* /Этапы работы */

/* Отзывы клиентов */
.b-reviews {
  margin-bottom: 90px;
  position: relative;
  z-index: 1;
}

.b-reviews .reviews__slide {
  padding: 45px 50px;
  box-sizing: border-box;
  position: relative;
  background: #EBF7FF;
  border-radius: 32px;
  z-index: 1;
}

.b-reviews .reviews__slide::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  opacity: 0.2;
  border: 1px solid #9D9DB5;
  border-radius: 26px;
  z-index: -1;
}

.b-reviews .reviews__paws {
  position: absolute;
  top: -100px;
  left: -367px;
  z-index: -1;
}

.b-reviews .reviews__paws-2 {
  position: absolute;
  top: -180px;
  right: -320px;
  z-index: -1;
}

.b-reviews .reviews__wrapper {
  margin-bottom: 45px;
}

.b-reviews .reviews__top {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-reviews .reviews__link {
  width: 115px;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  text-decoration: none;
  color: #9D9DB5;
}

.b-reviews .reviews__person {
  width: calc(100% - 150px);
  display: flex;
  align-items: center;
}

.b-reviews .reviews__date {
  font-size: 14px;
  color: #9D9DB5;
}

.b-reviews .reviews__img img {
  margin-right: 24px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.b-reviews .reviews__title {
  margin-bottom: 8px;
  font-weight: 700;
}

.b-reviews .reviews__txt {
  margin-bottom: 10px;
  line-height: 140%;
}

@media screen and (max-width: 1200px) {
  .b-reviews {
    margin-bottom: 50px;
  }

  .b-reviews .reviews__slide {
    padding: 45px 50px 70px;
  }

  .b-reviews .reviews__link {
    position: absolute;
    bottom: 40px;
    width: 100%;
  }

  .b-reviews .reviews__top {
    display: block;
  }

  .b-reviews .reviews__person {
    width: 100%;
  }

  .b-reviews .reviews__txt {
    font-size: 14px;
  }

  .b-reviews .reviews__paws {
    position: absolute;
    top: 513px;
    left: -148px;
    z-index: -1;
    width: 316px;
    height: 300px;
    object-fit: none;
    object-position: top;
  }

  .b-reviews .reviews__paws-2 {
    position: absolute;
    top: -162px;
    right: -244px;
    z-index: -1;
    width: 322px;
  }

}

@media screen and (max-width: 767px) {
  .b-reviews .reviews__paws-2 {
    display: none;
  }

  .b-reviews .reviews__paws {
    display: none;
  }

  .b-reviews .reviews__wrapper {
    margin-bottom: 27px;
  }

  .b-reviews .reviews__slide {
    padding: 32px 32px 70px;
  }

  .b-reviews .reviews__top {
    margin-bottom: 20px;
  }

  .b-reviews .reviews__link {
    bottom: 34px;
  }
}

/* /Отзывы клиентов */
/* Готовимся к визиту в вашу клинику */
.b-visit {
  margin-bottom: 105px;
  z-index: 1;
}

.b-visit .visit__inside {
  padding-top: 76px;
  background: #EBF7FF;
}

.b-visit .visit__top {
  height: 48px;
  background: url(../img/blue-top-2.png);
}

.b-visit .visit__content {
  position: relative;
  min-height: 830px;
  z-index: 1;
}

.b-visit .visit__items {
  margin-top: 48px;
  width: 730px;
}

.b-visit .visit__item {
  margin-bottom: 16px;
}

.b-visit .visit__ask {
  padding: 20px 20px 20px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

.b-visit .visit__item.open .visit__ask {
  background: #0077FF;
  color: #fff;
  transition: all 0.3s;
}

.b-visit .visit__item .visit__ask svg {
  transition: all 0.3s;
}

.b-visit .visit__item.open .visit__ask svg {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.b-visit .visit__item.open .visit__ask svg rect {
  fill: #fff;
  transition: all 0.3s;
}

.b-visit .visit__item.open .visit__ask svg path {
  stroke: #0077FF;
  transition: all 0.3s;
}

.b-visit .visit__answer {
  padding: 40px 65px 32px;
  display: none;
}

.b-visit .visit__dog {
  position: absolute;
  bottom: 0;
  left: calc(50% - 70px);
  z-index: -1;
}

.b-visit .visit__dog img {
  max-width: none;
  display: block;
}

@media screen and (max-width: 1200px) {
  .b-visit {
    margin-bottom: 60px;
  }

  .b-visit h2 br {
    display: none;
  }

  .b-visit .visit__top {
    background-position: 40% 0;
  }

  .b-visit .visit__inside {
    padding-top: 52px;
    background: #EBF7FF;
  }

  .b-visit .visit__content {
    min-height: auto;
  }

  .b-visit .visit__dog {
    display: none;
  }

  .b-visit .visit__items {
    margin-top: 40px;
    padding-bottom: 72px;
    width: 100%;
  }

  .b-visit .visit__ask {
    padding: 16px 48px 16px 48px;
    font-size: 16px;
  }

  .b-visit .visit__answer {
    padding: 31px 47px 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .b-visit {
    margin-bottom: 48px;
  }

  .b-visit .visit__top {
    background-size: 100% 100%;
  }

  .b-visit .visit__inside {
    padding-top: 28px;
  }

  .b-visit .visit__items {
    margin-top: 57px;
    padding-bottom: 32px;
  }

  .b-visit .visit__ask {
    padding: 16px 22px 16px 26px;
    font-size: 14px;
  }

  .b-visit .visit__ask span {
    max-width: calc(100% - 60px);
  }

  .b-visit .visit__answer {
    padding: 15px 25px 0px;
    line-height: 130%;
    font-size: 14px;
  }
}

/* /Готовимся к визиту в вашу клинику */

/* Запишись на консультацию 2 */
.b-form-dachshund {
  margin-bottom: 80px;
  margin-top: 67px;
  position: relative;
}

.b-form-dachshund .form-dachshund__inside {
  padding: 45px 60px 38px 60px;
  display: flex;
  justify-content: space-between;
  background: #0077FF;
  box-shadow: 0px 12px 60px rgba(0, 119, 255, 0.4);
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.b-form-dachshund .form-dachshund__inside::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  display: block;
  opacity: 0.3;
  border: 1px solid #FFFFFF;
  border-radius: 26px;
}

.b-form-dachshund .form-dachshund__line {
  display: flex;
  align-items: center;
}

.b-form-dachshund .form-dachshund__img {
  position: absolute;
  right: 60px;
  bottom: 0;
  z-index: 2;
}

.b-form-dachshund .form-dachshund__img img {
  display: block;
}

.b-form-dachshund .form-dachshund__text {
  line-height: 140%;
  color: #FFFFFF;
}

.b-form-dachshund .form-dachshund__text::before {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  left: 35px;
  width: 133px;
  height: 144px;
  background: url(../img/form-paws.png) 50% 50% no-repeat;
}

.b-form-dachshund .form-dachshund__form {
  width: 620px;
  z-index: 3;
}

.b-form-dachshund .form-dachshund__form::before {
  content: '';
  display: block;
  position: absolute;
  right: -300px;
  top: -300px;
  width: 600px;
  height: 600px;
  background: #00FFF0;
  opacity: 0.6;
  filter: blur(100px);
  transform: rotate(48.15deg);
  z-index: -1;
}

.b-form-dachshund .form-dachshund__form::after {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 300px);
  bottom: -300px;
  width: 600px;
  height: 600px;
  background: #00FFF0;
  opacity: 0.6;
  filter: blur(100px);
  transform: rotate(48.15deg);
  z-index: -1;
}

.b-form-dachshund .form-dachshund__stick {
  margin-bottom: 25px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.b-form-dachshund .form-dachshund__title {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
}

.b-form-dachshund .form-dachshund__txt {
  margin-bottom: 24px;
}

.b-form-dachshund .form-dachshund__input {
  margin-bottom: 4px;
  margin-right: 16px;
  padding: 20px 24px;
  width: 50%;
  display: block;
  background: #FFFFFF;
  border-radius: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  border: none;
}

.b-form-dachshund .form-dachshund__input:last-child {
  margin-right: 0;
}

.b-form-dachshund .form-dachshund__input::placeholder {
  color: #9D9DB5;
}

.b-form-dachshund .form-dachshund__btn {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: #FFFFFF;
  border-radius: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  color: #133261;
  transition: all 0.3s;
}

.b-form-dachshund .form-dachshund__btn:hover {
  background: #0077ff;
  color: #fff;
  transition: all 0.3s;
}

.b-form-dachshund .form-dachshund__btn img,
.b-form-dachshund .form-dachshund__btn svg {
  margin-left: 16px;
}

.b-form-dachshund .form-dachshund__btn:hover svg rect {
  fill: #fff;
  transition: all 0.3s;
}

.b-form-dachshund .form-dachshund__btn:hover svg path {
  stroke: #0077FF;
  transition: all 0.3s;
}

.b-form-dachshund .form-dachshund__checkbox-icon {
  display: none;
}

.b-form-dachshund .form-dachshund__checkbox {
  margin: 24px 40px 24px 0;
  max-width: 405px;
  padding-left: 27px;
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #80BBFF;
  cursor: pointer;
}

.b-form-dachshund .form-dachshund__checkbox a {
  text-decoration: none;
  color: #fff;
}

.b-form-dachshund .form-dachshund__checkbox::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.b-form-dachshund .form-dachshund__checkbox::after {
  content: "\2713";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #fff;
  opacity: 0;
}

.b-form-dachshund .form-dachshund__checkbox-icon:checked+label::after {
  opacity: 1;
}

.b-form-dachshund .form-dachshund__paws {
  position: absolute;
  top: 60px;
  left: -357px;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .b-form-dachshund {
    margin-top: 0;
    margin-bottom: 65px;
  }

  .b-form-dachshund .form-dachshund__inside {
    padding: 45px 45px 38px;
  }

  .b-form-dachshund .form-dachshund__stick {
    margin-bottom: 44px;
    font-size: 14px;
  }

  .b-form-dachshund .form-dachshund__title {
    font-size: 32px;
  }

  .b-form-dachshund .form-dachshund__txt {
    margin-bottom: 40px;
  }

  .b-form-dachshund .form-dachshund__img {
    display: none;
  }

  .b-form-dachshund .form-dachshund__form {
    width: 100%;
  }

  .b-form-dachshund .form-dachshund__input {
    margin-right: 25px;
  }

  .b-form-dachshund .form-dachshund__checkbox {
    margin: 24px 40px 6px 0;
    padding-left: 27px;
    display: block;
    max-width: calc(50% - 27px);
  }

  .b-form-dachshund .form-dachshund__form::after {
    left: calc(50% - 150px);
    bottom: -150px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .b-form-dachshund {
    margin-bottom: 48px;
  }

  .b-form-dachshund .form-dachshund__text::before {
    width: 97px;
    height: 122px;
    background-size: contain;
  }

  .b-form-dachshund .form-dachshund__txt {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .b-form-dachshund .form-dachshund__inside {
    padding: 30px;
  }

  .b-form-dachshund .form-dachshund__stick {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .b-form-dachshund .form-dachshund__title {
    font-size: 28px;
  }

  .b-form-dachshund .form-dachshund__line {
    display: block;
  }

  .b-form-dachshund .form-dachshund__input {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
  }

  .b-form-dachshund .form-dachshund__checkbox {
    margin-bottom: 24px;
    width: 100%;
    max-width: 100%;
  }

  .b-form-dachshund .form-dachshund__btn {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .b-form-dachshund .form-dachshund__title {
    font-size: 24px;
  }
}

/* /Запишись на консультацию 2 */

/* Контакты в подвале */
.b-foot-contacts {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 55px;
}

.b-foot-contacts .foot-contacts__paws {
  position: absolute;
  bottom: -55px;
  right: -335px;
}

.b-foot-contacts a {
  text-decoration: none;
  color: #133261;
}

.b-foot-contacts .foot-contacts__info {
  display: block;
  background: #fff;
}

.b-foot-contacts .foot-contacts__reviews {
  position: absolute;
  top: 42px;
  left: 42px;
  width: 465px;
  height: 500px;
  border-radius: 26px;
}

.b-foot-contacts .foot-contacts__info {
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(27, 91, 165, 0.2);
  width: 440px;
  border-radius: 26px;
  position: absolute;
  top: 75px;
  right: 70px;
}

.b-foot-contacts .foot-contacts__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0077FF;
}

.b-foot-contacts .foot-contacts__top {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.b-foot-contacts .foot-contacts__vk {
  display: flex;
  align-items: center;
  margin-right: 24px;
  color: #9D9DB5;
}

.b-foot-contacts .foot-contacts__vk img {
  margin-right: 12px;
}

.b-foot-contacts .foot-contacts__messangers {
  display: flex;
  align-items: center;
  color: #9D9DB5;
}

.b-foot-contacts .foot-contacts__messangers img {
  margin-right: 12px;
}

.b-foot-contacts .foot-contacts__item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.b-foot-contacts .foot-contacts__item:last-child {
  margin-bottom: 0;
}

.b-foot-contacts .foot-contacts__item img {
  margin-right: 12px;
}

@media screen and (max-width: 1200px) {
  .b-foot-contacts .foot-contacts__reviews {
    display: none;
  }

  .b-foot-contacts .foot-contacts__info {
    top: 70px;
    right: 25px;
  }
}

@media screen and (max-width: 767px) {
  .b-foot-contacts .foot-contacts__top {
    display: block;
  }

  .b-foot-contacts .foot-contacts__info {
    top: 18px;
    right: 18px;
    left: 18px;
    width: calc(100% - 36px);
    font-size: 12px;
  }

  .b-foot-contacts .foot-contacts__info a {
    white-space: nowrap;
  }
}

@media screen and (max-width: 360px) {
  .b-foot-contacts .foot-contacts__info {
    padding: 20px 16px;
  }
}

/* /Контакты в подвале */
/* Карта */
.b-map {
  width: 100%;
  height: 585px;
  overflow: hidden;
  border-radius: 32px;
  position: relative;
}

.b-map .map__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  .b-map {
    height: 415px;
  }
}

/* Карта */

/* Подвал */
.b-footer {
  margin-top: -150px;
  background: #EBF7FF;
  color: #133261;
}

.b-footer a {
  text-decoration: none;
  color: #133261;
}

.b-footer .footer__inside {
  background: #EBF7FF 100% 100% no-repeat;
  padding-top: 50px;
}

.b-footer .footer__top {
  height: 48px;
  background: url(../img/blue-top-2.png);
}

.b-footer .footer__content {
  padding: 55px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-footer .footer__contacts {
  margin-top: -10px;
  display: flex;
}

.b-footer .footer__item {
  margin-right: 70px;
}

.b-footer .footer__name {
  margin-bottom: 10px;
  opacity: 0.3;
}

.b-footer .footer__bottom {
  padding: 24px 0 48px;
  border-top: 1px solid rgba(19, 50, 97, 0.1);
  color: rgba(19, 50, 97, 0.3);
}

@media screen and (max-width: 1200px) {
  .b-footer .footer__content {
    padding: 55px 0 38px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .b-footer .footer__contacts {
    justify-content: center;
    width: 100%;
  }

  .b-footer .footer__item:last-child {
    margin-right: 0;
  }

  .b-footer .footer__logo {
    width: 270px;
    margin-bottom: 45px;
  }

  .b-footer .footer__bottom {
    padding: 40px 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .b-footer .footer__content {
    padding: 47px 0 15px 0;
  }

  .b-footer .footer__logo {
    width: 200px;
    margin-bottom: 30px;
  }

  .b-footer .footer__contacts {
    flex-wrap: wrap;
    justify-content: start;
  }

  .b-footer .footer__item {
    margin-bottom: 16px;
    margin-right: 35px;
  }

  .b-footer .footer__item--address {
    margin-right: 0;
    width: 100%;
  }

  .b-footer .footer__bottom {
    padding: 32px 0;
  }
}

/* /Подвал */